<div class="container-holder">
<div class="msform">  
    <h3 class="fs-title">Nairobi City County Business And Hustler Opportunities Terms and Conditions</h3>
    <p>Nairobi City County Business And Hustler Opportunities will not be liable for any wrong information provided.</p>
    
    <h3 class="fs-subtitle">VenturePal Registration Terms and Conditions</h3>
    <p>This platform/website is provided on an “as is” basis by ... (hereinafter referred to as ‘Company’ or ‘VenturePal ’). Any user using this website in any form be and is hereby agrees to the terms and conditions mentioned herein. This platform/website is offered to you conditioned on your acceptance without modification of the terms and conditions contained herein. Your use of this platform/website constitutes your agreement to all such terms and conditions.</p>
    
    <h4 class="fs-subtitle">Terms of Use</h4>
    <p>PLEASE READ THESE TERMS OF USE (“AGREEMENT” OR “TERMS OF USE”) CAREFULLY BEFORE USING THE SERVICES OFFERED BY ... (“VenturePal ”). THIS AGREEMENT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE WEBSITE AT HTTPS://WWW.VENTUREPAL.AFRICA (THE “SITE”) AND THE SERVICES, FEATURES, CONTENT, APPLICATIONS OR WIDGETS OFFERED BY VenturePal (COLLECTIVELY WITH THE SITE, THE “SERVICE”). BY REGISTERING FOR AND/OR USING THE SITE OR SERVICE IN ANY MANNER, INCLUDING BUT NOT LIMITED TO VISITING OR BROWSING THE SITE, YOU AGREE TO BE BOUND BY THIS AGREEMENT. THIS AGREEMENT APPLIES TO ALL USERS OF THE SITE OR SERVICE, INCLUDING USERS WHO ARE ALSO CONTRIBUTORS OF CONTENT, INFORMATION, AND OTHER MATERIALS OR SERVICES ON THE SITE.</p>

    <h4 class="fs-subtitle">Acceptance of Terms</h4>
    <p>The Service is offered subject to acceptance without modification of all of the terms and conditions contained herein (the “Terms of Use”), which terms also incorporates VenturePal ’s Privacy Policy, VenturePal ’s Copyright Policy and all other operating rules, policies and procedures that may be published from time to time on the Site by VenturePal , each of which is incorporated by reference and each of which may be updated by VenturePal from time to time without notice to you. In addition, some services offered may be subject to additional terms and conditions promulgated by VenturePal from time to time; your use of such services is subject to those additional terms and conditions, which are incorporated into these Terms of Use by this reference.</p>

    <h4 class="fs-subtitle">Access</h4>
    <p>Subject to these Terms of Use, VenturePal may offer to provide the services, as described more fully on the Site, and which are selected by you, solely for your own use, and not for the use or benefit of any third party. Services shall include, but not be limited to, any services VenturePal performs for you, any applications or widgets offered by VenturePal that you download from the Site or from third party application stores authorized by VenturePal , as well as the offering of any materials displayed or performed on or through the Site or the services, including Content, as defined below.</p>

    <!-- Insert the rest of your content here -->

    <h4 class="fs-subtitle">Contact</h4>
    <p>We are located at Heri-Hub, Nairobi National Museum, Kipande Road, Nairobi, Kenya. These terms are effective January 1, 2020.</p>
    <p>Any user registers with the Company under this platform/website should conduct its own investigation and analysis of any such information, data, contained or disseminate under this platform/website. Company makes no representations and warranties regarding the accuracy or completeness of such information and expressly disclaims and all liabilities based on such information or any omission therefrom. VenturePal does not accept responsibility for any losses or damages arising directly, or indirectly, from the use of this platform/website.</p>
    <p>Company also does not provide any protection of Intellectual Property or any such right of any information, ideas, suggestions, advices, services shared under this platform/website. It is the sole discretion of the user to use any information, ideas, suggestions, advices, services shared under this platform/website and arrive at any decision.</p>
    <p>As a condition of your use of this platform/website you warrant to the Company that you will not use the platform/website for any purpose that is unlawful or prohibited by these terms, conditions, and notices. User shall not use this platform/website in any manner which could damage, disable, overburden, or impair the Company or interfere with any other party’s use and enjoyment of this platform/website.</p>
    <p>Company also reserves the right in its sole discretion, to terminate your access to the platform/website and the related services or any portion thereof at any time, without notice.</p>



     <!-- <button (click)="navigateBack()">BACK</button> -->
 
    <!-- <a style="color:orange" routerLink="/terms-and-conditions">BACK</a> -->
</div>
</div>